.wrapper {
    position: relative;
    padding-top: rem(60px);
    padding-bottom: rem(80px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding-top: rem(80px);
      padding-bottom: rem(60px);
    }
  }